__pycache__/
*.pyc
*.so
*.egg-info
.ipynb_checkpoints
/bazel-*
.bazelrc
.DS_Store
build/
dist/
.mypy_cache/
.pytype/
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
.idea
.vscode
venv/
docs/_build/
